@mixin clearfix {
  &::after {
    content: '';
    // after is a inline element, so it needs to be converted to block element
    display: table;
    // clear float inflence left and right
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
