*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root font-size can decide rem*/
html {
  // using browser default font-size to adjust the font-size 
  font-size: base-font-size(10px);

  @include respond($big-desktop) {
    font-size: base-font-size(12px)
  }

  @include respond ($tablet-landscape) {
    font-size: base-font-size(9px);
  }
  
  @include respond ($tablet-portrait) {
    font-size: base-font-size(8px);
  }

  // @include respond ($phone) {
  //   font-size: base-font-size(7px);
  // }

} 

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond ($tablet-portrait) {
    padding: 0;
  }
}